.MainCarousel {
    background-color: rgb(127, 214, 255);

    /* width: 350px; */
    /* height: 650px; */
}

.Item1 {
    width: 350px;
    height: 650px;
}

.Item2 {
    width: 350px;
    height: 650px;
}

.Item3 {
    width: 350px;
    height: 650px;
}